.App {
  width: 100%;
  min-height: 100vh;
  background-color: teal;
  justify-content: center;
  align-items: center;
  display: flex;
}
.ap{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
}
.c{
  width: 100%;
  min-height: 100vh;
  background-color: teal;
  display: flex;
  flex-direction: column;
}
.he{
  width: 100%;
  display: flex;
  background-color: #fff;
  height: 10vh;
  flex-direction: row;
  align-items: center;
}
.he-ti{
  margin: 0em;
  display: flex;
  font-weight: bold;
  font-size: larger;
  margin-left: 30px;
}
.user-t{
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  padding: 3px 0px 3px 0px;
}
.er-c {
  width: 100%;
  height: 100vh;
  background-color: teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.er-n {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.er-t {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: teal;
  margin-bottom: 10px;
}

.cont {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.post-main {
  width: 100%;
  padding: 10px;
  border: 0px;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  margin-bottom: 20px;
}
.statbut-g {
  padding: 5px;
  color: teal;
  border-radius: 5px;
  border: 1px solid teal;
  margin: 0em;
  display: flex;
}
.view-post {
  padding: 5px;
  color: rgb(18, 180, 26);
  border-radius: 5px;
  border: 1px solid rgb(18, 180, 26);
  margin: 0em;
  display: flex;
  margin-left: 10px;
  background-color: #fff;
  cursor: pointer;
  animation-duration: 1s;
}
.view-post:hover {
  color: #fff;
  background-color: rgb(18, 180, 26);
}
.app-post {
  padding: 5px;
  color: rgb(43, 190, 117);
  border-radius: 5px;
  border: 1px solid rgb(43, 190, 117);
  margin: 0em;
  display: flex;
  margin-left: 10px;
  background-color: #fff;
  cursor: pointer;
  animation-duration: 1s;
}
.app-post:hover {
  color: #fff;
  background-color: rgb(43, 190, 117);
}
.del-post {
  padding: 2px;
  color: rgb(180, 64, 18);
  border-radius: 5px;
  border: 1px solid rgb(180, 64, 18);
  margin: 0em;
  display: flex;
  margin-left: 10px;
  background-color: #fff;
  cursor: pointer;
  animation-duration: 1s;
}
.del-post:hover {
  color: #fff;
  background-color: rgb(180, 64, 18);
}
.del-log {
  padding: 4px;
  color: rgb(180, 64, 18);
  border-radius: 5px;
  border: 1px solid rgb(180, 64, 18);
  margin: 0em;
  display: flex;
  margin-left: 10px;
  background-color: #fff;
  cursor: pointer;
  animation-duration: 1s;
}
.del-log:hover {
  color: #fff;
  background-color: rgb(180, 64, 18);
}
.statbut-r {
  padding: 5px;
  color: maroon;
  border-radius: 5px;
  border: 1px solid maroon;
  margin: 0em;
  display: flex;
}
.statbut-m {
  padding: 5px;
  color: rgb(5, 170, 175);
  border-radius: 5px;
  border: 1px solid rgb(5, 170, 175);
  margin: 0em;
  display: flex;
}
.butstat {
  display: flex;
  flex-direction: row-reverse;
}
.titl {
  margin: 0em;
  display: flex;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.desc {
  margin: 0em;
  display: flex;
}
.new-title {
  width: 100%;
  font-size: 20px;
  color: #282c34;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  padding: 3px 0px 3px 0px;
}
.dash-about-t {
  width: 100%;
  font-size: 18px;
  margin: 10px 5px;
  color: black;
}
.level {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: teal 2px solid;
}
.leveltop {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}
.sel {
  display: block;
  width: 100%;
}
.new-p {
  background-color: teal;
  color: white;
  font-size: 20px;
  padding: 4px 10px 4px 10px;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  align-self: center;
  cursor: pointer;
  animation-duration: 0.5s;
}
.new-p:hover {
  background-color: cadetblue;
}
.tabl{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tabl-t{
  margin: 0em;
  display: flex;
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
  border-top: teal 2px solid;
}
.tabl-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
}
.table-u{
  display: flex;
  width: 20%;
  flex: 1;
}
.table-a{
  display: flex;
  width: 40%;
  flex: 1;
}
.table-w{
  display: flex;
  width: 40%;
  flex: 1;
}
.tabl-tit{
  margin: 0em;
  display: flex;
  font-size: medium;
  font-weight: bold;
  margin-top: 4px;
}
.tabl-cont{
  margin: 0em;
  display: flex;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .cont {
    width: 95%;
    padding: 0px;
  }
}
